body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

.banner {
  margin: 0rem 0rem;
  padding: 1rem 20rem;
}

.explanations {
  margin: 0rem 0rem;
  padding: 1rem 20rem;
}

.module {
  margin: 0rem 0rem;
  padding: 2rem 2rem;
}

.intro, .activity, .heading {
  margin: 0rem 0rem;
  padding: 0rem 10rem;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h4, h5, h6 {
  margin: 0rem 0rem;
  padding: 1rem 0rem;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}

/* People Page */

figure img {
  margin-bottom: 10px;
}

.profile-card {
  margin: 1px;
  background-color: #eee;
  padding: 6%;
  padding-top: 10%;
  padding-bottom: 10%;
}

figcaption {
  font-family: "Roboto", sans-serif;
  font-size: medium;
  text-align: center;
  font-weight: bold;
}

figcaption a {
  font-size: small;
  color: #3363ff;
  font-weight: normal;
}

.subcaption {
  font-size: small;
  font-weight: normal;
}

.people{
  margin-right: 100px;
  margin-left: 100px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  position: absolute;
  top: 300px;
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}