body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

.banner {
  margin: 0rem 0rem;
  padding: 1rem 20rem;
}

.explanations {
  margin: 0rem 0rem;
  padding: 1rem 20rem;
}

.module {
  margin: 0rem 0rem;
  padding: 2rem 2rem;
}

.intro, .activity, .heading {
  margin: 0rem 0rem;
  padding: 0rem 10rem;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h4, h5, h6 {
  margin: 0rem 0rem;
  padding: 1rem 0rem;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}
